# 關聯式資料庫

### 曾聖澧

**February 18, 2023**

---

# SQL與關聯式數據庫

+ 維基百科 :
    + [關聯式數據庫](https://zh.wikipedia.org/zh-tw/SQL)
    + [非關聯式數據庫](https://zh.wikipedia.org/zh-tw/NoSQL)

# 關聯式數據庫SQLite
## 下載與基本語法
+ [SQLite 簡介](http://mybeauty.pixnet.net/blog/post/26492636-sqlite簡介)
+ [SQLite 语法](https://www.runoob.com/sqlite/sqlite-syntax.html)

## 資料合併操作
+ 逐筆輸入資料類似 concat 的操作
+ [SQLite - 插入查詢](https://www.tutorialspoint.com/sqlite/sqlite_insert_query.htm)


+ join 類似 merge 的操作
+ [SQLite - JOINS](https://www.tutorialspoint.com/sqlite/sqlite_using_joins.htm)

## SQLite瀏覽器
想看 sqlite 檔案中放了什麼，可下載以下任一瀏覽器
+ sqlitespy
+ [SQLiteSpy](http://www.snapfiles.com/get/sqlitespy.html)


+ SQLiteStudio
+ [SQLiteStudio](https://sqlitestudio.pl/index.rvt)

## 外部檔案到資料庫的匯入匯出
+ [SQLite - 從 CSV 檔案匯入資料](https://www.quackit.com/sqlite/tutorial/import_data_from_csv_file.cfm)
+ [SQLite - 將資料匯出到 CSV 檔](https://www.quackit.com/sqlite/tutorial/export_data_to_csv_file.cfm)

## 更多 SQLite 介紹
+ [SQL語法教學](https://www.1keydata.com/tw/sql/sql.html)

# 在Python中使用SQLite
+ 載入 SQLite 的套件 sqlite3

In [1]:
import sqlite3

## 用Python建立一個新資料庫
+ 匯入資料集

In [2]:
from sklearn import datasets
import pandas as pd
iris_ = datasets.load_iris()
iris = pd.concat((pd.DataFrame(iris_["data"]),pd.DataFrame(iris_["target"])),axis=1)
iris.columns = ['sepal_length','sepal_width','petal_length','petal_width',"target"]

In [3]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

+ 先建立資料庫與資料表
1. connect() : 同時建立資料庫與連線
2. cursor() : 建立資料庫操作指標
3. execute() : 執行新增資料表的SQL指令
4. commit() : 確認完成

In [4]:
# 建立資料庫
conn = sqlite3.connect('iris.db') 
cursor = conn.cursor()

# 建立資料表
cursor.execute('CREATE TABLE iris(sepal_length,sepal_width,petal_length,petal_width,target)') 

# 完成更新
conn.commit()

## 寫入數據到資料庫
+ 匯入資料集 mtcars 和 iris 資料集到 SQL 中


+ 利用 Pandas 的 to_sql()，就能夠將資料寫入 SQLite 資料庫
關鍵字參數，分別為
1. 「寫入的資料表名稱」
2. 「連線」
3. 「資料表已存在該如何操作」: if_exists='append' 為資料表已存在，則將資料直接寫入
4. 「是否寫入 DataFrame 索引值」

+ 下方 **更多操作** 處有其他新增數據方法

In [5]:
iris.to_sql('iris', conn, if_exists='append', index=False)

# 連結關閉
conn.close()

開啟 DB Browser for SQLite 工具，選擇 iris 資料表後，切換到 Browse Data (瀏覽資料)頁籤，即可看到 DataFrame 中的資料成功寫入

+ [下載 DB Browser for SQLite 工具](https://sqlitebrowser.org/dl/)
+ [快速掌握Pandas套件寫入SQLite資料庫的重要方法](https://nabi.104.com.tw/posts/nabi_post_1d9e8caa-55e4-4ed9-a841-d2ba2546badf)

## 查詢資料庫內容
從資料集中挑選前五行資料出來看
+ SQL 語法可參考上面連結

In [6]:
# 打開數據庫
conn = sqlite3.connect('iris.db')
c = conn.cursor()

# 操作數據
cursor = c.execute("SELECT sepal_length, sepal_width, petal_length, petal_width, target from iris")

da = list()
for row in cursor:
    da.append(row)
    
print(pd.DataFrame(da)[0:5])

# 連結關閉
conn.close()

     0    1    2    3  4
0  5.1  3.5  1.4  0.2  0
1  4.9  3.0  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4  5.0  3.6  1.4  0.2  0

In [7]:
# 打開數據庫
conn = sqlite3.connect('iris.db')
c = conn.cursor()

# 操作數據
cursor = c.execute('SELECT * from iris LIMIT 5')

for row in cursor:
    print(row)

(5.1, 3.5, 1.4, 0.2, 0)
(4.9, 3.0, 1.4, 0.2, 0)
(4.7, 3.2, 1.3, 0.2, 0)
(4.6, 3.1, 1.5, 0.2, 0)
(5.0, 3.6, 1.4, 0.2, 0)

從資料集中挑選變數 Sepal_Length 小於 4.6 的所有資料

In [8]:
# 操作數據
cursor = c.execute('SELECT * from iris  WHERE "Sepal_Length" < 4.6')

for row in cursor:
    print(row)

(4.4, 2.9, 1.4, 0.2, 0)
(4.3, 3.0, 1.1, 0.1, 0)
(4.4, 3.0, 1.3, 0.2, 0)
(4.5, 2.3, 1.3, 0.3, 0)
(4.4, 3.2, 1.3, 0.2, 0)

計算 Sepal_Length = 4.5 有幾個

In [9]:
# 操作數據
cursor = c.execute('SELECT * from iris  WHERE "Sepal_Length" = 4.5')

da = list()
for row in cursor:
    da.append(row)

len(da)

1

最後記得要與資料庫斷線

In [10]:
# 連結關閉
conn.close()

## 更多操作
+ [資料庫操作—新增、查詢、刪除和修改_利用 Python 的 sqlite3 執行資料庫語法](https://rf-datanalytics.mystrikingly.com/blog/b6bad8ac883)
+ [SQLite - Python](https://www.runoob.com/sqlite/sqlite-python.html)

+ 避免重跑時資料表已存在，出現錯誤，在此刪掉先前創造的 iris

In [11]:
# 打開數據庫
conn = sqlite3.connect('iris.db')
c = conn.cursor()

# 操作數據
cursor = c.execute('DROP TABLE iris')

# 完成更新
conn.commit() 

# 連結關閉
conn.close()

# SQL 對應
+ [Python 與 SQL Server 之間的資料類型對應](https://learn.microsoft.com/zh-tw/sql/machine-learning/python/python-libraries-and-data-types?view=sql-server-ver16)

## 給對SQL不熟的人
如果還沒有接觸過資料庫或者說 SQL，推薦大家下載並安裝 MySQL 資料進行嘗試，MySQL 資料庫的下載安裝比較簡單，安裝完成就可以使用。

+ [MySQL Windows版下載位址](http://dev.MySQL.com/downloads/MySQL/)

+ [為什麼要學習 SQL & MySQL安裝操作](https://medium.com/%E6%95%B8%E6%93%9A%E5%88%86%E6%9E%90%E4%B8%8D%E6%98%AF%E5%80%8B%E4%BA%8B/%E5%AF%AB%E7%B5%A6%E6%96%B0%E4%BA%BA%E7%9A%84%E8%B3%87%E6%96%99%E5%BA%AB%E5%85%A5%E9%96%80%E6%8C%87%E5%8D%97-4a63fb3acb8a)

## 給對SQL很熟的人
+ [快速入門：使用 SQL 機器學習來執行簡單的 Python 指令碼](https://learn.microsoft.com/zh-tw/sql/machine-learning/tutorials/quickstart-python-create-script?view=sql-server-ver16)

## 提醒

+ 不只 sqlite3，pymysql 也可以拿來操作 SQL
+ [PyMySQL 1.0.2](https://pypi.org/project/PyMySQL/)

---